body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.form-control {
    border-radius: 0;
}

#result {
    display: none;
    margin-top: 20px;
}

#result a {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #28a745;
    margin-top: 10px;
}